@import '~antd/dist/antd.less';

.book-item {
.book-card .ant-card-body {
  padding-top: 5px;
  padding-bottom: 5px;

  @cover-width: 160px;

    .book-cover {
      float: left;
      width: @cover-width;
      display: block;
      img {
        width: 100%;
      }
    }
  
    .book-content {
      margin-left: @cover-width + 15px;
      .title h1 {
        margin-bottom: 0;
      }
      .author {
        margin-bottom: 5px;
        color: @text-color-secondary;
        a {
          color: @text-color-secondary;
          &:hover {
            color: @primary-color;
          }
        }
      }
      .ant-rate {
        transform: scale(0.7);
        margin-left: -20px;
        margin-right: -12px;
        color: @primary-color;
      }
      .rate-num {
        color: @primary-color;
      }
      .ratecount {
          color: @text-color-secondary;
      }

      }
    }
  }


