@import "~antd/dist/antd.less";

.sort-selector {
  width: 130px;

  .ant-select-arrow {
    font-size: 150%;
    transform: translate(-6px, -5px);
    color: @text-color-secondary;
  }
}

.review-comment-item {
  .ant-comment-inner {
    padding: 0;

    .ant-comment-content-detail {
      .ant-rate {
        transform: scale(0.7);
        margin-left: -20px;
        margin-right: -12px;
        color: @primary-color;
      }
    
      h3 {
        display: inline;
      }
    }
  
    .ant-comment-actions .comment-action {
      padding-left: 8px;
      cursor: "auto";
    }
  }
}
